<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Thum</th>
      <th>Title</th>
      <th>Content</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.thum %></td>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.created_at %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>

<h2>Render Sample - make by Truong Nguyen</h2>
<br><!-- multiple values -->
<%= render partial:'render', locals: { message: @message, name: @name} %>
<br><!-- using as and object -->
<%= render partial: 'as_object', object: @name, as: 'as_name' %>
<br><!-- using only as -->
<!-- By default, having its object in a local variable with the same name as the template -->
<%= render partial: 'product' %>
<br><!-- Render Collection -->
Render Collection
<% i = 0 %>
<% @engineers.each do |engineer| %>
  <% i += 1 %>
  <%= render partial: 'engineer', locals: { engineer: engineer, i:i } %>
<% end %>
* Partial Layouts
<%= render partial: 'article', layout: 'box', locals: { article: @article } %>
prepend_view_path "app/views/#{request.subdomain}"
append_view_path "app/views/direct"
<h2>Overview of helpers provided by Action View</h2>
<% image_tag("435725.jpg") %>
<% image_url("435725.jpg") %>
<% image_path("435725.jpg") %>